<app-go-back title="Snake"></app-go-back>
<p>desarrollo del juego: <a href="https://github.com/ddalairac/game-snake">https://github.com/<strong>ddalairac</strong>/game-snake</a></p>
<br>
<ul class="list-group text-center">
    <li class="list-group-item ">
        <div class="game-over" *ngIf="!isPaying && score">
            <h2>Game over</h2>
            <h1>Puntaje {{score}}</h1>
        </div>
        <button mat-raised-button color="secondary" *ngIf="!isPaying" (click)="onPlay()">Jugar</button>
        <app-stage (score)="onGameOver($event)" *ngIf="isPaying"></app-stage>
    </li>
</ul>