@import 'variables';


html,
body {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    background-image: linear-gradient(310deg, #1e1b63, black);
}
*{
    box-sizing: border-box;
}


html {
    position: relative;
    display: block; //position: initial;
    overflow-y: auto;
}

body {
    margin: 0;
    overflow-y: scroll;
    position: relative;
    display: block; //position: initial;
    min-height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-bottom: 60px;
}
@import "utilities";
@import "type";
@import "bootstrap-custom";

