
$box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
$box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
$borderRadius: 5px;

$mobile-max-w: 767px;
$mobile-min-w: 768px;

$tablet-max-w: 997px;
$tablet-min-w: 998px;

$neon-primary: 0px 0px 5px 5px rgba(234,116,227,1);


$primary:#EA74E3;// dodgerblue;
$secondary: #EBE02F; //#c6c4c4;
$tertiary: #00aeff;
$grey: grey;
$textColor: white;
$bgGrey: #efefef;
$body-color:white;

$btn-disabled-opacity: .3;