<div class="volver">
    <button type="button" mat-raised-button color="secondary" routerLink="/Juegos">
        Volver
    </button>
</div>
<h2 class="secondary-text">Adivina el numero</h2>
<div class="container card">
    <h1 class="text-center">{{nuevoJuego.nombre + '(del 1 al 1000)'}}!</h1>


    <div *ngIf="nuevoJuego.numeroSecreto!=0">
        <div class="form-group centered">
            <input type="text" [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Ingrese numero" name="numeroIngresado" type="number"
                class="form-control" autocomplete="off">
        </div>
    </div>

    <button *ngIf="nuevoJuego.numeroSecreto==0" (click)="generarnumero()" mat-raised-button color="secondary">
        Nuevo número secreto
    </button>

    <div class="row ">
        <div class="col-md-8">
            <p class="text-center" *ngIf="nuevoJuego.numeroIngresado">{{'Numero ingresado: ' + nuevoJuego.numeroIngresado}} </p>
        </div>

        <div class="col-md-4">
            <h2 class="text-center" [hidden]="ocultarVerificar">
                <button *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" mat-raised-button color="secondary">
                    Verificar
                </button>
            </h2>
        </div>
    </div>


    <div class="row ">
        <div class="col-md-6">
            <h2 class="text-center">
                <p *ngIf="nuevoJuego.numeroSecreto!=0"><i class="fa fa-spinner fa-spin"></i>Esperando que ingrese un número</p>
            </h2>
        </div>
    </div>

    <div *ngIf="nuevoJuego.gano">
        <h3>Ganaste!!</h3>
    </div>
    <div class="row" *ngIf="nuevoJuego.numeroSecreto!=0">
        <div class="col-md-8">
            <h3>Todavia no ganaste !</h3>
        </div>
    </div>
    <div class="text-center {mensajeClass}" id="snackbar" >{{Mensajes}}</div>

</div>