<div class="container ">
    <div class="volver">
        <button type="button" mat-raised-button color="secondary" routerLink="/Juegos">
            Volver
        </button>
    </div>

    <div class="row ">
      <div class="col">
        <h1 class="text-center">{{nuevoJuego.nombre + '(del 1 al 1000)'}}!</h1>
      </div>
    </div>
    <div class="row" *ngIf="nuevoJuego.numeroSecreto!=0">
      <div class="col text-center">
        <form>
          <div class="form-group centered">
            <input type="text" [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Ingrese numero"
              name="numeroIngresado" type="number" class="form-control" style="width:50%" autocomplete="off">
          </div>
        </form>
      </div>
    </div>
    <div class="row flex d-flex flex-column">
      <div class="col">
        <h1 class="text-center" *ngIf="nuevoJuego.numeroIngresado">{{'Numero ingresado: ' + nuevoJuego.numeroIngresado}} </h1>
      </div>
      <div class="col">
        <h2 class="text-center" [hidden]="ocultarVerificar">
          <button *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" class="btn btn-success btn-lg">
            Verificar
          </button>
        </h2>
      </div>
      <div class="col">
        <h2 class="text-center">
          <button *ngIf="nuevoJuego.numeroSecreto==0" (click)="generarnumero()" class="btn btn-info btn-lg">
            Nuevo número secreto
          </button>
        </h2>
      </div>
      <div class="col">
        <h2  class="text-center">
          <p *ngIf="nuevoJuego.numeroSecreto!=0"><i class="fa fa-spinner fa-spin"></i>Esperando que ingrese un número</p>
        </h2>
      </div>
    </div>
    <div class="row text-center" [hidden]="!nuevoJuego.gano">
      <div class="col">
        <h3 [hidden]="!nuevoJuego.gano">Ganaste!!</h3>
      </div>
    </div>
    <div class="row text-center" *ngIf="nuevoJuego.numeroSecreto!=0">
      <div class="col">
        <h3>Todavia no ganaste !</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center" id="snackbar">{{Mensajes}}</div>
      </div>
    </div>
  </div>
  