.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

#snackbar.Ganador {
    background-color: #059f2f;
}
#snackbar.Perdedor {
    background-color: #ff0000;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;

    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    font-size: 17px;
}
