<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Sala De Juegos</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./QuienSoy#quien">Quien</a></li>
                <li><a href="/TP_LAV4_2017/QuienSoy#que">Ques es</a></li>
                <li><a href="./QuienSoy#donde">Donde</a></li>
            </ul>
        </div>
    </div>
</nav>








<!-- First Container -->
<div class="bg-1">
    <div class="container">
        <h1>Quién Soy?</h1>


        <!-- quien -->
        <div class="summary-header ">
            <img alt="" class="circle" src="./assets/imagenes/quiensoy.jpg">

            <div class="text">
                <h2>Diego Dalairac</h2>
                <h4>Desarrollador &amp; Diseñador</h4>
            </div>
        </div>
        <p>Soy un diseñador gráfico de la U.B.A. Me especialicé en UX / UI, pero en la mitad de mi carrera comence a dedicarme al desarrollo.</p>
        <p>Durante años fui el director creativo de mi propia empresa, impartí conferencias, gané premios y trabajé para reconocidos artistas argentinos como Caloi y Liniers y empresas como Microsoft, Blaque y Acumar. Utilicé mi conocimiento para convertirme en docente de la U.B.A e Imagecampus.</p>
        <p>Mi rango de habilidades va desde impresión, animación, UI / UX a frontend, lo que me permite diseñar y codear al mismo tiempo, lo que actualmente estoy haciendo para Santander Tecnología.</p>

        <!-- <a href="mailto:diegodalairac@gmail.com">diegodalairac@gmail.com</a> -->

        <!-- END quien -->

        <h3>Juego</h3>
        <p>voy a usar uno de estos 2 juegos que hice para practicar:</p>
        <ul>
            <li>
                <strong>Snake: </strong><br>
                <a href="https://github.com/ddalairac/game-snake">github.com/ddalairac/game-snake</a><br>
                <a href="https://ddalairac.github.io/game-snake/">demo</a>
            </li>
            <li>
                <strong>breakout: </strong><br>
                <a href="https://github.com/ddalairac/game-breakout">github.com/ddalairac/game-breakout</a><br>
                <a href="github.com/ddalairac/game-breakout">demo</a>

            </li>
        </ul>
    </div>
</div>

<!-- Second Container -->
<div class="bg-2 text-center">
    <div class="container ">
        <h3>Esto es un trabajo práctico</h3>
        <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación
            diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las
            planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales tanto para las instituciones y profesores como para
            los
            alumnos. A través de la evaluación formativa el educador busca información en el alumno para lograr comprender cómo se está
            produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra del progreso que está
            logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según Black y William (1998), la evaluación
            formativa, ayuda a que los estudiantes sean independientes a la hora del aprendizaje, es decir, se presenta como receptor, autorregulador
            y
            centro de esa misma evaluación. </p>
        <a href="#" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-file"></span> Descargar PDF
        </a>
    </div>
</div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://github.com/ddalairac/">github.com/ddalairac</a></p>
</footer>