<div class="container-fluid">
    <div class="card">
        <img class="img-thumbnail" src="./assets/imagenes/cerebro.jpg" alt="Avatar">
        <h5>Velocidad y agilidad aritmética </h5>
        <p class="title">Juego de agilidad mental</p>
        <p>UTN FRA </p>
        <p><a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a></p>

        <button mat-raised-button color="secondary" (click)="Juego('Agilidad')">Jugar</button>
    </div>

    <div class="card">
        <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar">
        <h5>Piedra Papel o Tijera</h5>
        <p class="title">Juega contra la máquina</p>
        <p>UTN FRA </p>
        <p> <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a></p>
        <button mat-raised-button color="secondary" (click)="Juego('PPT')">Jugar</button>
    </div>
    <div class="card">
        <img class="img-thumbnail" src="./assets/imagenes/adivina.png" alt="Avatar">
        <h5>Adivina el número secreto</h5>
        <p class="title">Juega de estrategia</p>
        <p>UTN FRA </p>
        <p><a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a></p>
        <button mat-raised-button color="secondary" (click)="Juego('Adivina')">Jugar</button>
    </div>
    <div class="card">
        <img class="img-thumbnail" src="./assets/imagenes/new/snake.jpg" alt="Avatar">
        <h5>Snake</h5>
        <p class="title">Juega de reflejos</p>
        <p>UTN FRA </p>
        <p><a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a></p>
        <button mat-raised-button color="secondary" (click)="Juego('Snake')">Jugar</button>
    </div>
</div>