@import "src/assets/scss/variables";

:host {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    h1 {
        color: white;
    }
    h2 {
        color: $textColor;
    }
    p {
        color: $textColor;
        font-size: 18px;
        line-height: 1.8;
    }
}
.header {
    background-image: url(/assets/imagenes/new/bg3-header.jpg);
}
.card {
    top: -150px;
}

.summary-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    .text {
        margin-left: 20px;
        h3,
        p {
            margin: 0;
        }
    }

    img {
        border-radius: 5px;
        background: $bgGrey;
        width: 100px;
        height: 100px;
    }
}
.mat-mini-fab {
    margin-right: 5px;
}

hr {
    margin-top: 0;
}

.character {
    right: -30px;
    top: 10px;
}
