<!-- 
<h1>Jugadores</h1>
<ul class="nav nav-pills nav-justified">
  <li class="active"><a routerLink="/principal">Ir a inicio</a></li>
  <li><a (click)="TraerTodos()">Todos los jugadores</a></li>
  <li><a (click)="TraerGanadores()">Los ganadores</a></li>
  <li><a (click)="TraerPerdedores()">Los perdedores</a></li>
</ul>



<table class="table table-condensed">
  <thead>
    <tr>
      <th>usuario</th>
      <th>cuit</th>
      <th>sexo</th>
      <th>gano</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado" >
      <td>{{jugador.usuario}} </td>
      <td>{{jugador.cuit}} </td> 
      <td>{{jugador.sexo | sexo| uppercase}} </td> 
      <td>{{jugador.gano}} </td> 
      
    </tr>
   
  </tbody>
</table> -->
<div class="header"></div>

<div class="container">
    <div class="card page">
        <div class="character">
            <!-- <img src="./assets/imagenes/new/sw_android.gif" alt="" > -->
            <img src="./assets/imagenes/new/robocop.gif" alt="" >
        </div>

        <h2>Puntajes de jugadores </h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource" >

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef > Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.user}} </td>
            </ng-container>

            <ng-container matColumnDef="snake">
                <th mat-header-cell *matHeaderCellDef > Snake </th>
                <td mat-cell *matCellDef="let element"> {{element.snake}} </td>
            </ng-container>

            <ng-container matColumnDef="aritmetica">
                <th mat-header-cell *matHeaderCellDef > Aritmetica </th>
                <td mat-cell *matCellDef="let element"> {{element.aritmetica}} </td>
            </ng-container>

            <ng-container matColumnDef="ppt">
                <th mat-header-cell *matHeaderCellDef > PPT </th>
                <td mat-cell *matCellDef="let element"> {{element.ppt}} </td>
            </ng-container>

            <ng-container matColumnDef="adivina_numero">
                <th mat-header-cell *matHeaderCellDef > Adivina el número </th>
                <td mat-cell *matCellDef="let element"> {{element.adivina_numero}} </td>
            </ng-container>
            <ng-container matColumnDef="tateti">
                <th mat-header-cell *matHeaderCellDef > Tateti </th>
                <td mat-cell *matCellDef="let element"> {{element.tateti}} </td>
            </ng-container>
            <ng-container matColumnDef="anagrama">
                <th mat-header-cell *matHeaderCellDef > Anagrama </th>
                <td mat-cell *matCellDef="let element"> {{element.anagrama}} </td>
            </ng-container>
            
            <ng-container matColumnDef="memotest">
                <th mat-header-cell *matHeaderCellDef > Memotest </th>
                <td mat-cell *matCellDef="let element"> {{element.memotest}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <pre *ngIf="dataSource">{{list | json}}</pre>

    </div>
</div>