
.header {
    background-image: url(/assets/imagenes/new/bg2-header.jpg);
}

.character {
    // right: 50px;
    // top: -142px;
    right: -10px;
    top: -177px;
    img {
        width: 100px;
        width: auto;
    }
}

table {
    width: 100%;
  }
  
//   .mat-form-field {
//     font-size: 14px;
//     width: 100%;
//   }
  
//   td, th {
//     width: 25%;
//   }